{% load static %}
<div class="contact_section layout_padding">
    <div class="container">
       <h1 class="touch_taital"><img src="{% static 'images/icon-1.png' %}"> <span>Blog Generator AI</span></h1>
       <div class="contact_section_2">
          <div class="row">
             <div class="col-md-6">
                <div class="email_text">
                   <div class="form-group">
                     <form action="{% url 'blog_post' %}" method="get">
                      <input type="text" class="email-bt" placeholder="What About Blog" name="topic" id="topic">
                   </div>
                   <div class="send_btn" ><button type="submit">Get It</button></div>
                </div>
               </form>
             </div>
             <div class="col-md-6">
                <div class="map_main">
                   <div class="map-responsive">
                     {% if post %}
                     <h2>Generated blog Post</h2>
                     <p>{{ post }}</p>
                   {% endif %}
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>